<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/250x250" class="img-responsive img-rounded" alt="responsive profile image">
			<h2><%= @user.name %></h2>

			<% if current_user.id != @user.id %>

				<% if current_user.following?(@user) %>
					<form action="/users/<%= @user.id %>/follow" method="POST">
						<input type="hidden" name="_method" value="DELETE" />
						<input class="btn btn-warning btn-sm" type="submit" value="Unfollow">
					</form>
				<% else %>
					<form action="/users/<%= @user.id %>/follow" method="POST">
						<input id="follow-btn" class="btn btn-default btn-sm" type="submit" value="Follow">
					</form>
				<% end %>
			<% end %>

			<p id="profileBio"><%= @user.bio %></p>
			<button type="button" id="editProfileBtn" class="btn btn-sm btn-info">Edit Profile</button>
		</div>

		<div class="col-md-8">
			<form action="/posts" method="POST">
				<input class="form-control" name="content" />
				<input type="submit" class="btn btn-primary" />
			</form>

			<div class="user-posts">
				<% @posts.each do |p| %>
					<div><%= p.content %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>